{% extends "base_app.html" %}
{% block title %}{{ regatta_title }} | SailingSA{% endblock %}
{% block meta %}
<link rel="canonical" href="{{ canonical_url }}">
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/css/regatta.css?v=2">
<script type="application/ld+json">{{ json_ld|safe }}</script>
{% endblock %}
{% block content %}
<div class="page-content">
  <!-- FUTURE: regatta-header -->
  <!-- FUTURE: regatta-stats -->
  <!-- FUTURE: regatta-results -->
  <div class="regatta-page">
    {{ regatta_body_html|safe }}
  </div>
</div>
{% endblock %}
